.icon-48-inscripcions {
      background-image: url(../images/l_inscripcions.png);
      padding-left:60px!important;
}

.icon-48-inscripcion {
      background-image: url(../images/l_inscripcions.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}